
.zphero h1, .zphero h2, .zphero h3, .zphero h4, .zphero h5, .zphero h6 { line-height: normal; }
.zphero .zptext { font-size: var(--default_vars-_-font-size-text); }

@media only screen and (min-width: 1200px) { .theme-header .zpcontainer { width: 1140px; }
  .zpcontainer { width: 85%; max-width: 1500px; } }
.zscustom-section-realestate02-27 .zspadding-box { padding: 25px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }
@media all and (min-width: 992px) { .zscustom-section-realestate02-27 .zsoverlap-column { margin-left: -70px; } }
.zscustom-section-realestate02-28 .zspadding-box { padding: 25px; padding-left: 25px; padding-right: 25px; }
@media all and (min-width: 992px) { .zscustom-section-realestate02-28 .zspadding-box { padding: 45px; padding-left: 45px; padding-right: 45px; } }
.zscustom-section-realestate02-28 .zsover-box { padding: 25px; background: rgba(0, 0, 0, 0.04); transition: background 0.3s ease-in-out; }
.zscustom-section-realestate02-28 .zsover-box:hover { background: rgba(255, 255, 255, 0.07); transition: background 0.3s ease-in-out; }
@media all and (min-width: 992px) { .zscustom-section-realestate02-28 .zsover-box.zsright-box { margin-top: 5%; } }
.zscustom-section-realestate02-28 .zpcarousel-container .zpcarousel-content-container .zpcarousel-content .zpcarousel-content-inner { padding: 15px; }
.zscustom-section-realestate02-28 .zscustomer-feedback { position: relative; z-index: 1; }
.zscustom-section-realestate02-28 .zscustomer-feedback:before { content: '"'; position: absolute; top: 50%; left: 50%; font-size: 700%; transform: translateY(-50%); color: #eaeaea; z-index: -1; }
.zscustom-section-realestate02-29 { padding-bottom: 0px; }
.zscustom-section-realestate02-29 .zspadding-box { padding: 35px; }
.zscustom-section-realestate02-30 .zspadding-box { padding: 30px; }
.zscustom-section-realestate02-30 .zscolumn-spacing-row { padding: 0 15px; }
@media all and (min-width: 992px) { .zscustom-section-realestate02-30 .zscolumn-spacing-row { padding: 0; } }
@media all and (min-width: 992px) { .zscustom-section-realestate02-31 .zspadding-box { padding: 30px; }
  .zscustom-section-realestate02-31 .zsshadow-box { box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); padding: 0px; }
  .zscustom-section-realestate02-31 .zsmargin-top-none { margin-top: 0px; }
  .zscustom-section-realestate02-31 .zsshadow-box .zspadding-box { padding: 25px 20px; } }
@media all and (min-width: 992px) { .zscustom-section-realestate02-32 .zsborder-box-row .zsborder-box { border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-right: 1px solid rgba(0, 0, 0, 0.1); padding: 35px; transition: background 0.3s ease-in; }
  .zscustom-section-realestate02-32 .zsborder-box-row .zsborder-box:hover { background: var(--base_vars-_-color-default); box-shadow: 0 0 25px rgba(0, 0, 0, 0.05); transition: all 0.3s ease-in-out; }
  .zscustom-section-realestate02-32 .zsborder-box-row .zsborder-box:nth-child(4n) { border-right: 1px solid transparent; } }
.zscustom-section-realestate02-32 .zsborder-box-row-bottom-border-none .zsborder-box { border-bottom: 0px; }
.zscustom-section-realestate02-33 .zspadding-box-row { padding: 0 15px; }
@media all and (min-width: 992px) { .zscustom-section-realestate02-33 .zspadding-box-row { padding: 0; } }
.zscustom-section-realestate02-33 .zspadding-box { padding: 15px; }
@media all and (min-width: 992px) { .zscustom-section-realestate02-33 .zspadding-box { padding: 35px; } }
@media all and (min-width: 992px) { .zscustom-section-realestate02-33 .zstestimonial-box { box-shadow: 0 0 35px rgba(0, 0, 0, 0.1); } }
